body {
    font: 100% Arial, Helvetica, sans-serif;
    color: #333300;
}

header {
    background-color: rgba(21,67,96,0.99);
    color: white;
    border-radius: 3px;
    padding: 1px;
    margin-top: 1px;
    margin-bottom : 1px;
    font-size: 3vw;
    height: 10vw;
    text-align: center;
}


footer {
  background-color: rgba(21,67,96,0.99);
  color: white;
  border-radius: 3px;
  padding: 5px;
  text-align: right;
  font-size: 80%;
  height = 60px;

}
.footerImage{
    width: 25px;
    height: 16px;
    padding-left: 8px;
    float: left;
    filter: invert(100%);
}

.myLogo{
    position: relative;
    float: left;
    cursor: pointer;
    display: none;
    width: 1px;
    height: 1px;
}

nav {
    overflow: hidden;
    background-color: rgba(26,82,118,0.99);
    border-radius: 3px;
    width: 100%;
    font-size: calc(10px + 0.5vw);
}
nav a {
    float: left;
    display: block;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-width: 1px;
    border-color: white;
    border-style: none solid none solid;
}
nav a:hover {
    background-color: rgba(36,113,163,0.99);
    color: black;
}

.title{
  position: absolute;
  width: 80%;
  text-align: center;
  font-size: calc(16px + 0.5vw);
}

.mySection{
  font-size: calc(14px + 0.5vw)
}

.subTitle{
    font-size: 75%;
}

.myimg {
  max-width:90%;
  height:auto;
  max-height:90%;
  display:block;
  margin:auto;
}

.myVideo{
    width:85%;
    display:block;
    margin:auto;
}


.myVideoSmall{
    width:50%;
    display:block;
    margin:left;
}
@media (max-width: 440px) {
    .myVideoSmall{
        width:100%
    }
}

.whitespace {
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 25% ;
    color: white;
}

.padSides{
    margin-left:10%;
    margin-right:10%
}
@media (max-width: 440px) {
    .padSides{
        margin-left:2%;
        margin-right:2%
    }
}

/* collapsible */

.collapsible {
  color:white;
  background-color: rgba(36,113,163,0.99);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  width:100%;
  font-size:100%;
}
.active, .collapsible:hover{
  color:white;
  background-color: rgba(26,82,118,0.99);
}
.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  ext-align: right;
}
.active:after {
  color: white;
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  font-style: italic;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  background:none;
  background-color: white;
  color: rgba(26,82,118,0.99);
  font-weight: bold;
  font-size: 80%;
  transition: 0.6s ease;
  user-select: none;
  border-radius: 3px;
}
.prev {
  left: -20px;
}
.next {
  right: -20px;
}

.prev:hover, .next:hover {
  background-color: rgba(36,113,163,0.99);
  color: black;
}

.caption {
  color: red;
  font-size: 90%;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: red;
  font-size: 90%;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  left: 50px;
  bottom: 8px;
  width: 90%;
  text-align: left;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  color: white;
  background-color: rgba(26,82,118,0.99);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgba(36,113,163,0.99);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#btnGotoTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(26,82,118,0.99);
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 3px; /* Rounded corners */
  font-size: 80%; /* Increase font size */
}
@media (max-width: 440px) {
    #btnGotoTop{
        right: 10px;
    }
}

#btnGotoTop:hover {
   background-color: rgba(36,113,163,0.99);
   color: black;
}
